<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<security:http>
		<security:intercept-url pattern="/login.jsp" />
		<security:intercept-url pattern="/login-failure.jsp" />
		<security:intercept-url pattern="/pages/utilisateur/declarationSinnistreAuto.xhtml"
			access="ROLE_USER,ROLE_ADMIN" />
		<security:intercept-url pattern="/page/sinistreAutoWeb/"
			access="ROLE_WEBUSER" />
		<security:form-login login-page="/login.jsp"
			authentication-failure-url="/login-failure.jsp" />
		<security:logout logout-url="/logout.jsp"
			logout-success-url="/accueil.xhtml" />
	</security:http>

	<security:authentication-manager>
		<security:authentication-provider>
			<!-- <security:user-service> <security:user name="admin" password="admin" 
				authorities="ROLE_ADMIN" /> </security:user-service> -->

			<security:jdbc-user-service
				data-source-ref="dataSource"
				users-by-username-query="select loginPers, motPassePers, from personne where loginPers=?"
		        authorities-by-username-query="select ps.loginPers, ps.personne from personne ps"	 />
		</security:authentication-provider>
	</security:authentication-manager>
</beans>
